.form{
    position: absolute;
    background-color: antiquewhite;
    padding: 2rem 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    flex-direction: column;
    margin: auto;
    gap: 1.2rem;
    z-index: 9999;
}

.form button{
    width: max-content;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    font-size: 1.2rem;
    border:none;
    border-radius: 9px;
    font-weight: 600;
    font-family: inherit;
}

.form button:hover{
    background-color: #6084cb;
    transition: all 0.2s;
}