body{
    color: #6084cb;
    background-color: #000000;
}

.heading{
    font-size: 3.6rem;
    text-align: center;
}
.bar{
    display: flex;
    margin: 1rem 4rem;
    align-items: center;
    justify-content: space-between;
}

.bar-head{
    font-size: 1.8rem;
    font-weight: 600;
}

.Add{
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    font-size: 1.2rem;
    border:none;
    border-radius: 9px;
    font-weight: 600;
    font-family: inherit;
}

.Add:hover{
    background-color: #6084cb;
    transition: all 0.2s;
}

.container{
    position: relative;
}

.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
}